<a href="https://colab.research.google.com/github/AdarshKammar/Python/blob/main/python_basics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# @title ADARSH
'python basics'

#data types
'''
integer
string
float
boolean'''

In [3]:
# @title String
a="India"
# print(A) error will occur because python is case sensitive
print(a)
print(type(a)) # type(a) declares that what is the data type of a that is 'str'

India
<class 'str'>

In [4]:
# @title Integer
a=12
# print(A) error will occur because python is case sensitive
print(a)
print(type(a)) # type(a) declares that what is the data type of a that is 'int'

12
<class 'int'>

In [5]:
# @title Float
a=12.05
print(a)
print(type(a)) # type(a) declares that what is the data type of a that is 'float'

12.05
<class 'float'>

In [6]:
# @title Boolean
a=7
b=8
c=(a>b) # type(a) declares that what is the data type of a that is 'boolean'
print(c)

False

In [7]:
# @title Boolean
a=9
b=8
c=(a>b) # type(a) declares that what is the data type of a that is 'boolean'
print(c)

True

In [8]:
# @title Double quotes " "
print("This is GENERATIVE AI")

This is GENERATIVE AI

In [10]:
# @title Single quotes ' '
print('This is GENERATIVE AI')

This is GENERATIVE AI

In [11]:
# @title Operators

# +,-,*,/,%,//,**

a=11
b=5
print(a+b)

16

In [12]:
a=11
b=5
print(a-b)

6

In [13]:
a=11
b=5
print(a*b)

55

In [14]:
a=11
b=5
print(a/b)

2.2

In [15]:
a=11
b=5
print(a%b)

1

In [16]:
a=11
b=5
print(a//b)

2

In [18]:
a=11
b=5
print(a**b) # a to the power of b that means 11 to the power 5 (11 multiples 5 times)

161051

In [19]:
# @title Assignment Operator

a=20
a +=5 #a=a+5
print(a)

25

In [20]:
a=20
a -=5
print(a)

15

In [21]:
# @title Relational Operator (<, >, <= ,>= ,== , !=)

# <,>,<=,>=,==,!=

a=5
b=10
if(a != b):
  print("not equal")
else:
  print("equal")

not equal

In [24]:
a=10
b=10
if(a != b):
  print("not equal")
else:
  print("equal")

equal

In [26]:
a=15
b=10
if(a > b):
  print("Yes")
else:
  print("Not")

Yes

In [27]:
a=9
b=10
if(a > b):
  print("Yes")
else:
  print("Not")

Not

In [28]:
# @title Logical Operator ( AND, OR, Not)

# AND both condition has to be true then only it works

a=12
b=12
if(a==12) and (b==12):
  print("True")

true

In [30]:
a=10
b=12
if(a==12) and (b==12):
  print("True")
else:
  print("False")

false

In [33]:
a=12
b=12
c=12
if(a==b) and (c==b):
  print("True")
else:
  print("False")

true

In [34]:
a=12
b=12
c=10
if(a==b) and (c==b):
  print("True")
else:
  print("False")

false

In [35]:
# @title OR (Either One Has to be True)

a=12
b=12
c=12
if(a==b) or (c<b):
  print("True")
else:
  print("False")

True

In [36]:
a=12
b=12
c=12
if(a<b) or (c<b):
  print("True")
else:
  print("False")

False

In [39]:
# @title BITWISE AND, OR, XOR Operators

a=3
b=5

# a = a & b AND condition both has to be True(1 1)
a = a & b
print(a)

1

In [40]:
a=13
b=15

# a = a & b AND condition both has to be True (1 1)
a = a & b
print(a)

13

In [41]:
# @title OR operator

a=3
b=5

# a = a | b OR condition either one has to be True (0 1,1 0,1 1)
a = a | b
print(a)

7

In [42]:
a=23
b=35

# a = a | b OR condition either one has to be True (0 1,1 0,1 1)
a = a | b
print(a)

55

In [43]:
# @title XOR Operator

a=3
b=5

# a = a ^ b OR condition either one has to be True (0 1 & 1 0)
#if both are false and both and true it is False like ( 0 0 & 1 1)
a = a ^ b
print(a)

6

In [44]:
a=30
b=90

# a = a ^ b OR condition either one has to be True (0 1 & 1 0)
#if both are false and both and true it is False like ( 0 0 & 1 1)
a = a ^ b
print(a)

68

In [46]:
# @title Rigth Shift

a=3
b=1
# a = a >> b
a = a >> b
print(a)

1

In [47]:
a=3
b=5
# a = a >> b
a = a >> b
print(a)

0

In [48]:
# @title Left Shift

a=3
b=1
# a = a << b
a = a << b
print(a)

6

In [49]:
# @title Membership Operator ( in and not in )
# in operator

x=['Apple','Banana']
print('Apple' in x)

True

In [50]:
x=['Apple','Banana']
print('apple' in x)

False

In [51]:
# @title Notin operator
x=['Apple','Banana']
print('apple' not in x)

True

In [52]:
x=['Apple','Banana']
print('Apple' not in x)

False

In [60]:
# @title Write a Prgm to Convert Temperature from celsius to Fahrenheit

#hint : (0°C × 9/5) + 32 = 32°F

temp = float(input())
temp_f = temp*(9/5) + 32
print(temp_f)

30
86.0

In [61]:
 # @title Write prgm to Convert Temperature from Fahrenhiet to Celsius
 #°C = (°F - 32) × 5/9

temp_f = float(input())
temp = (temp_f - 32) * 5/9
print(temp)

86.0
30.0

In [69]:
# @title Condition statements ( if, else, elif )

#if Condition

a=4
if(a%2 == 0):
  print("even")

even

In [70]:
# @title Else
a=5
if(a%2 == 0):
  print("even")
else:
  print("Not Even")

Not Even

In [83]:
# @title Elif
a = 4
if(a%2 == 0):
  print("even")
elif(a%2 != 0):
  print("odd")

even

In [84]:
a = 5
if(a%2 == 0):
  print("even")
elif(a%2 != 0):
  print("odd")

odd

In [94]:
# @title Write a prgm to show the PH Level of Nature
# 1 - 3 Strong acid
# 4 - 6 Weak acid
# 7 Natural
# 8 - 11 Weak Base
# 12 - 14 Strong Base
# Else not Valid PH Level

Ph_level = int(input(" Enter PH Level : "))
if(Ph_level >=1 and Ph_level <=3):
  print("Strong Acid")
elif(Ph_level >=4 and Ph_level <=6):
  print("Weak Acid")
elif(Ph_level == 7):
  print("Netural")
elif(Ph_level >=8 and Ph_level <=11):
  print("Weak Base")
elif(Ph_level >=12 and Ph_level <=14):
  print("Strong Base")
else:
  print("Invalid")

 Enter PH Level : 7
Netural

In [100]:
# @title Display the months which has 30, 31 and 28/29 days

month = int(input("Enter Month : "))
if(month == 1 or month == 3 or month == 5 or month == 7 or month == 8 or month == 10 or month == 12):
  print("31 Days")
elif(month == 4 or month == 6 or month ==9 or month == 11):
  print("30 Days")
elif(month == 2):
  print("28/29 Days")
else:
  print("Invalid")

Enter Month : 1
31 Days

In [104]:
# @title for Loop and while Loop
for i in range(10):
  print(i,"Adarsh") # to check range we should write print(i,Adarsh)

0 Adarsh
1 Adarsh
2 Adarsh
3 Adarsh
4 Adarsh
5 Adarsh
6 Adarsh
7 Adarsh
8 Adarsh
9 Adarsh

In [105]:
for i in range(2,21):
  print(i)

2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

In [107]:
# @title Skip Two numbers

for i in range(2,21,2): #start(2),stop(21),step(2)
  print(i)

2
4
6
8
10
12
14
16
18
20

In [117]:
a="DeadPool"
for i in a:
  print(i)

D
e
a
d
P
o
o
l

In [118]:
a="DeadPool"
for i in range(len(a)):
  print(i)

0
1
2
3
4
5
6
7

In [145]:
# @title Write Prgm to store"i will complete My homework 10 times"
#using list loop

a =" i Will complete My Home work"
for i in range(10):
  print(i,a)

0  i Will complete My Home work
1  i Will complete My Home work
2  i Will complete My Home work
3  i Will complete My Home work
4  i Will complete My Home work
5  i Will complete My Home work
6  i Will complete My Home work
7  i Will complete My Home work
8  i Will complete My Home work
9  i Will complete My Home work

In [157]:
# using list loop
l = []

for i in range(10):
    l.append("I will complete my homework")


for i in l:
    print(i)

I will complete my homework
I will complete my homework
I will complete my homework
I will complete my homework
I will complete my homework
I will complete my homework
I will complete my homework
I will complete my homework
I will complete my homework
I will complete my homework

In [171]:

# @title Write Prgm to count the no of words in essay max 250

essay = input(" Enter the para : ")
for i in essay:
  if " " in essay:
    count = essay.count( " ")
print(count)
if count >= 249:
  print("correct the essay")
else:
  print("essay should has less than 250 words")

 Enter the para : how are you my friend
4
essay should has less than 250 words

In [174]:
# @title Dimension Floor 12 titles and 9 titles prgm to display are using nested loops
# use * to represent a title

len = 12
width = 9
for i in range(width):
  for j in range(len):
    print('*',end= " ")
  print()

* * * * * * * * * * * *
* * * * * * * * * * * *
* * * * * * * * * * * *
* * * * * * * * * * * *
* * * * * * * * * * * *
* * * * * * * * * * * *
* * * * * * * * * * * *
* * * * * * * * * * * *
* * * * * * * * * * * *

In [175]:
# @title Break statements

colors=["red","green","yellow","blue"]
for i in colors:
  print(i)
  if i=="green":
    break

red
green

In [177]:
# @title Continue Statements means Skipping

for i in "data":
  if i == "a":
    continue
  print(i)
print("this is end")

d
t
this is end

In [181]:
# @title Pass Statement means to hold the position

x=10
if x<=5:
  pass
else:
  print("x is positive")

x is positive

In [182]:
x=4
if x<=10:
  pass
else:
  print("x is positive")

In [184]:
# @title Write Prgm to remove whitespaces and make first character of each word capital

# hint : "i like programming" to ILikeProgramming

essay = input("Enter the Para : ")
words = essay.split(' ')
for i in words:
  print(i.capitalize(),end = '')

Enter the Para : hi i am your friend
HiIAmYourFriend

In [186]:
# @title with spaces
essay = input("Enter the Para : ")
words = essay.split(' ')
for i in words:
  print(i.capitalize(),end = ' ')

Enter the Para : hi i am your friend
Hi I Am Your Friend

In [188]:
for i in range(3):
  for j in range(5):
    print('*',end= " ")
  print()

* * * * *
* * * * *
* * * * *

In [201]:
for i in range(3):
  for j in range(5):
    if(i==0 or i==2 or j==0 or j==4):
      print('*',end= " ")
    else:
      print(' ',end= " ")
  print()

* * * * *
*       *
* * * * *

In [203]:
h = int(input("Enter the height : "))
for i in range(1,h+1):
  for j in range(1,h-i+1):
    print(' ',end= " ")
  for j in range(1,i+1):
    print('*',end= " ")
  for j in range(1,i):
    print('*',end= " ")
  print("\n")

Enter the height : 10
                  *

                * * *

              * * * * *

            * * * * * * *

          * * * * * * * * *

        * * * * * * * * * * *

      * * * * * * * * * * * * *

    * * * * * * * * * * * * * * *

  * * * * * * * * * * * * * * * * *

* * * * * * * * * * * * * * * * * * *

In [204]:
# @title While Loop

i=10
while(i<=15):
  print(i)
  i=i+1

10
11
12
13
14
15

In [210]:
# @title Create a Python Prgm that can take Input and can print number of vowels present

vowels = ['a','e','i','o','u']
word = input("Enter a Word : ")
count = 0
for i in word:
  if i in vowels:
    count+=1
print(count)

Enter a Word : programming
3